.App {
  text-align: center;
}

.navbar{
  height: 100px;
  width: 100%;
  /* background-color: blue; */
  display: flex;
  justify-content:space-around;
  align-items: center;
}

.navbar img{
  height: 100px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}


/* Theme Provider */

/* Light Theme */
body.light-mode {
  background-color: #ffffff;
  color: #000000;
}

/* Dark Theme */
body.dark-mode {
  /* background-color: #121212; */
  background-color: #000000;
  color: #ffffff;
}

/* Home */

.home-container{
  margin-left: 25%;
  margin-right: 25%;
}

/* WELCOME CARD */
.card{
  height: 400px;
  /* background-color:blue; */
  width: 50%;
  margin-left: 25%;
  margin-top: 3%;
  border-radius: 5%;
  border: 2px solid black;
}

.pokemon-card{
  height: 600px;
    /* background-color:blue; */
    width: 50%;
    margin-left: 25%;
    margin-top: 3%;
    border-radius: 5%;
    border: 2px solid black;
}


.pokemon-ability{
  background-color: goldenrod;
  border: 2px solid black;
  height: 50px;
  width: 40%;
  padding-top: 5%;
}

.pokemon-type {
  background-color: rgba(22, 219, 219, 0.861);
  border: 2px solid black;
  height: 50px;
  width: 20%;
  padding-top: 5%;
}

.like-button{
  height: 50px;
  width: 20%;
  font-weight: bold;
  cursor: pointer;
}

/* Liked Pokemon  */
.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.liked-pokemon-card {
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  width: 150px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.liked-pokemon-card img {
  width: 100px;
  height: 100px;
}

.liked-pokemon-card h2 {
  font-size: 16px;
  color: #333;
}